.form-container {
    width: 50%;
    margin: 20px auto;
}
.top-corner {
    position: absolute;
    top: 8px;
    right: 8px;
}
.modal.modal-fixed-footer {
    height: 100% !important;
    display: block;
    width: 50%;
    top: 15%;
    z-index: 5;
}
.container {
    width: 90% !important;
}
.text-center {
    margin-top: 16px;
}
.btn-floating.halfway-fab {
    top: 20px;
}
.addEmpTitle {
    float: right;
    width: 33%;
}
.btn-cstm {
    width: 40%;
    margin: 0 12px;
}
